<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EstacionamentoBenner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/contratados.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EstacionamentoBenner.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5 divContratados">
                <form class="form-inline" style="margin-top: 15px;">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Usuário" aria-label="Usuário" aria-describedby="basic-addon1">
                        <div class="input-group-prepend" style="margin-left: 3px;">
                             <button class="btn btn-outline-success" type="button">Pesquisar</button>
                        </div>
                    </div>
                </form>
            </div>
         </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
