<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EstacionamentoBenner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/contratados.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EstacionamentoBenner.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="container">
        <form>
            <div>
                <label for="formFile" class="form-label">Foto contratado</label>
                <input class="form-control" type="file" id="formFile">
            </div>

            <div class="col-12" style="margin-top: 15px;">
                <label class="col-form-label">Nome contratado</label>
            </div>
            <div class="col-4">
                <input type="text" id="nomeContratado" class="form-control">
            </div>

            
            <div class="col-12" style="margin-top: 15px;">
                <label class="col-form-label">CPF (ID)</label>
            </div>
            <div class="col-2">
                <input type="text" id="cpfContratado" class="form-control">
            </div>

            <div class="col-12" style="margin-top: 15px;">
                <label class="col-form-label">Cargo</label>
            </div>
            <div class="col-4">
                <input type="text" id="cpfContratado" class="form-control">
            </div>


            <div class="col-12" style="margin-top: 15px;">
                <label class="col-form-label">Hora inical</label>
            </div>
            <div class="col-1">
                <input type="time" id="horarioContratadoInicial" class="form-control">
            </div>

            <div class="col-12" style="margin-top: 15px;">
                <label class="col-form-label">Hora final</label>
            </div>
            <div class="col-1">
                <input type="time" id="horarioContratadoFinal" class="form-control">
            </div>

             <button class="btn btn-outline-success" type="button" style="margin-top: 25px;">Adicionar contratado</button>
        </form>
    </div>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html> 
